<body>
    <h1><%= post.title %></h1>
    <!-- Use <%- %> to render content as HTML -->
    <%- post.content %>
    
    <% if (authenticated) { %>
        <a href="/posts/<%= post.id %>/edit">Edit</a>
        <form action="/posts/<%= post.id %>" method="POST" style="display:inline;">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Delete</button>
        </form>
    <% } %>
    
    <a href="/">Back to Home</a>
</body>
